//
// Home Page
// --------------------------------------------------

.section-brands
  @extend %full-width

.section-social-bar
  @extend %full-width

.brand-offer
  position: relative
  @extend %full-width
  min-height: 280px
  padding-top: 20px
  letter-spacing: 2px
  overflow: hidden
  &:hover
    .brand-info
      +opacity(1)
      +transform(translateY(0))
      +transform-origin(center)
      +transition(opacity, .28s, linear, transform, .28s, ease-out)

.hizli-ceviri
  padding-top: 30px

.brand-info
  position: absolute
  top: 0
  left: 0
  @extend %full-width
  height: 100%
  padding: 40px
  background-color: #34495E
  color: white
  text-align: left
  +opacity(0)
  +transform(translateY(-100px))
  +transform-origin(center)
  +transition(opacity, .28s, linear, transform, .28s, ease-in)
  +border-radius($border-radius-base)

.brand-info-touch
  position: relative
  padding: 10px 40px 0 40px
  background-color: #fff
  font-size: $font-size-h4
  font-weight: 400
  color: #8a8a8a
  text-align: center
  +opacity(1)
  +transform(translateY(0))
  +transition(none)
  & .brand-link
    display: none

.brand-info-title
  letter-spacing: 2px
  font-weight: 300

.brand-dec
  font-weight: 100
  letter-spacing: 2px

.brand-link
  position: absolute
  bottom: 0
  left: 0
  @extend %full-width
  padding: 20px
  background-color: $brand-success
  letter-spacing: normal
  font-size: $font-size-h5
  font-weight: 600
  +border-bottom-radius($border-radius-base)
  color: #fff
  border-left: 1px solid #689847
  border-bottom: 1px solid #689847
  border-right: 1px solid #689847
  text-shadow: 0 1px 1px rgba(0,0,0,0.24)

.social-bar
  @extend %full-width
  padding: 20px
  +border-radius($border-radius-base)
  border: 1px solid #ddd

.social-icons
  & > li
    & > a
      +transition(color, .28s, ease-out)
      &:hover
        +transition(color, .28s, ease-in)
  & .fb
    position: relative
    top: -5px

@media (max-width: $screen-xs-max)
  .txt-hero
    text-align: center
  .brand-dec,
  .brand-title
    font-weight: 400
  .brand-cap
    background-color: $brand-success
  .social-title
    text-align: center
  .social-icons
    margin-top: 20px
    & > li
      &:not(:last-child)
        margin-bottom: 10px

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
  .brand-dec,
  .brand-title
    font-weight: 400
  .brand-cap
    background-color: $brand-success

@media (min-width: $screen-md-min) and (max-width: $screen-md-max)
  .brand-dec,
  .brand-title
    font-weight: 400
  .social-icons
    float: right
  .brand-cap
    background-color: $brand-success

@media (min-width: $screen-lg-min)
  .social-title
    margin-top: 25px
  .social-icons
    float: right
  .brand-title
    font-weight: 100
    color: #8a8a8a
