%footer
  .container
    .row
      .col-sm-10.col-sm-offset-1.text-center
        %h1 AVUKATLARA ÖZEL TEKNOLOJİ PAKETİ
        %h4 400TL değerinde indirim paketiyle, teknolojinin rahatlıyla tanışın.
        %small
          &copy; 2015 - www.ozelpaket.com
//Facebook
#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

//Gplus
%script{async: '', defer: '', src: 'https://apis.google.com/js/platform.js'} {lang: 'tr'}

//Twitter
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

//Google Analytics
:javascript
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='https://www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-64397061-1','auto');ga('send','pageview');

= javascript_include_tag  '//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js',
                          'application'
:javascript
    //Fallback to loading jQuery from a local path if the CDN is unavailable
    window.jQuery || document.write('<script src="assets/javascripts/vendor/jquery-2.1.3.min.js"><\/script>')

= yield_content :foot
