%header.header.mb-80
  .container
    .row
      .col-xs-12.col-lg-12
        .col-sm-offset-1.col-lg-offset-1.pull-left
          = image_tag 'shape.png', class:'img-responsive img-hero'
        .col-sm-6.col-lg-7
          .col-sm-offset-1.col-lg-offset-2.pull-left.txt-hero
            %h1
              AVUKATLARA ÖZEL
              %br/
              %strong
                TEKNOLOJİ PAKETİ
            %h2
              ₺400 değerinde indirim paketiyle,
              %br/
              teknolojinin rahatlıyla tanışın.