%header.header.mb-40
  .container
    .row
      .col-xs-12.col-lg-12
        .col-sm-offset-1.col-lg-offset-1.pull-left
          = image_tag 'shape.png', class:'img-responsive img-hero'
        .col-sm-6.col-lg-7
          .col-sm-offset-1.col-lg-offset-2.pull-left.txt-hero
            %h1
              AVUKATLARA ÖZEL
              %br/
              %strong
                TEKNOLOJİ PAKETİ
            %h2
              Yaklaşık
              %strong 400TL
              değerinde indirim paketiyle,
              teknolojinin rahatlıyla tanışın.
            .pull-left.mt-10
              %ul.list-inline.social-icons
                %li.fb
                  .fb-share-button{'data-href' => 'http://avukatlara.ozelpaket.net', 'data-layout' => 'button_count'}
                %li
                  %a.twitter-share-button{'data-lang' => 'tr', 'data-related' => 'Bulutfon', 'data-text' => 'Avukatlara Ozel Paket', 'data-url' => 'http://avukatlara.ozelpaket.net', 'data-via' => 'Bulutfon', href: 'https://twitter.com/share'}
                    Tweet
                  :javascript
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                %li
                  %script{src: '//platform.linkedin.com/in.js', type: 'text/javascript'} lang: tr_TR
                  %script{'data-counter' => 'right', 'data-url'=>'http://avukatlara.ozelpaket.net/', type: 'IN/Share'}
                %li
                  .g-plus{'data-action' => 'share', 'data-annotation' => 'bubble', 'data-href' => 'http://avukatlara.ozelpaket.net/'}