
%header.header.mb-80
  .container
    .row
      .col-lg-12
        .col-lg-offset-1.pull-left
          = image_tag 'shape.png', class:'img-responsive img-hero'
        .col-lg-7
          .col-lg-offset-2.pull-left.txt-hero
            %h1
              AVUKATLARA ÖZEL
              %br/
              %strong
                TEKNOLOJİ PAKETİ
            %h2
              ₺400 değerinde indirim paketiyle,
              %br/
              teknolojinin rahatlıyla tanışın.

%section
  .container
    .row
      .col-lg-4
        .thumbnail
          =link_to 'https://www.bulutfon.com', target: '_blank', class:'text-center brand-offer bulutfon' do
            =image_tag 'bulutfon-logo.png'
            .brand-info
              %h3.brand-info-title
                BULUTFON
              %p.brand-dec
                Bulutfon ile telefon santrali, faks, sms, görüşmelerin kayıt altına alınması gibi her türlü ihtiyacınızı
                ₺29/ay gibi fiyatlarla karşılıyoruz.
              %small.brand-link
                Icerige goz at
                %i.fa.fa-angle-double-right
            .caption.brand-cap
              %h3.brand-title
                Yeni üyelere ₺50
                %br/
                konuşma kredisi.


      .col-lg-4
        .thumbnail
          =link_to 'https://hizliceviri.com', target: '_blank', class:'text-center brand-offer hizli-ceviri' do
            =image_tag 'hizliceviri-logo.png'
            .brand-info
              %h3.brand-info-title
                HIZLIÇEVİRİ
              %p.brand-dec
                130 dan fazla yeminli tercüman ekibi ile dosyalarınızı online ortamda
                tercüme eder ve anında size teslim eder.
              %small.brand-link
                Icerige goz at
                %i.fa.fa-angle-double-right
            .caption.brand-cap
              %h3.brand-title
                1 ay boyunca
                %br/
                \%50 indirim.

      .col-lg-4
        .thumbnail
          =link_to 'https://www.lawoud.com', target: '_blank', class:'text-center brand-offer lawoud' do
            =image_tag 'lawoud-logo.png'
            .brand-info
              %h3.brand-info-title
                LAWOUD
              %p.brand-dec
                Lawoud ile müvekkillerinize ve borçlularınıza kredi kartı ile ödeme yapma kolaylığı sağlayın.
              %small.brand-link
                Icerige goz at
                %i.fa.fa-angle-double-right
            .caption.brand-cap
              %h3.brand-title
                2 Ay ücretsiz!

#social.container
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-default
        .panel-body
          .row
            .col-sm-6
              %h3 Bu sayfayı arkadaşlarınızla paylaşın
            .col-sm-2.text-center
              %h3 → → →
            .col-sm-4.text-right
              %i.fa.fa-twitter-square.fa-4x
              %i.fa.fa-facebook-square.fa-4x
              %i.fa.fa-linkedin-square.fa-4x
              %i.fa.fa-envelope-square.fa-4x

%footer.container
  .row
    .col-sm-10.col-sm-offset-1.text-center
      %h1 AVUKATLARA ÖZEL TEKNOLOJİ PAKETİ
      %h4 ₺400 değerinde indirim paketiyle, teknolojinin rahatlıyla tanışın.
      %p
        &copy; 2015 -
        www.ozelpaket.com
