
%section.section-brands.mb-40
  .container
    .row
      .col-xs-12.col-sm-4.col-lg-4
        .thumbnail
          =link_to 'https://www.lawoud.com', target: '_blank', class:'text-center brand-offer' do
            =image_tag 'lawoud-logo.png', class:'mt-10'
            .brand-info
              %h3.brand-info-title.hidden-xs.hidden-sm.hidden-md
                LAWOUD
              %p.brand-dec
                Lawoud ile müvekkillerinize ve borçlularınıza kredi kartı ile ödeme yapma kolaylığı sağlayın.
              %small.brand-link.text-center
                Paketten Yararlanın
                %i.fa.fa-angle-double-right
            .caption.brand-cap
              %h3.brand-title
                2 Ay Ücretsiz
                %br/
                Hukuk Otomasyonu
        .twitter-embed
          %blockquote.twitter-tweet{lang: 'tr'}
            %p{dir: 'ltr', lang: 'tr'}>
              Mükemmel bir hukuk otomasyonu
              %a{href: 'https://twitter.com/lawoudcrm'} @lawoudcrm
              ile tanışın.
            \&mdash; MUSTAFA BİLAL GÜNAL (@MBGUNAL)
            %a{href: 'https://twitter.com/MBGUNAL/status/614017978380759040', target:'_blank'} June 25, 2015
          %script{async: '', charset: 'utf-8', src: '//platform.twitter.com/widgets.js'}

      .col-xs-12.col-sm-4.col-lg-4
        .thumbnail
          =link_to 'http://ceviri.hizliceviri.com/hukuki-ceviri/?utm_source=ozelpaket&utm_medium=cpc&utm_campaign=bundle', target: '_blank', class:'text-center brand-offer' do
            =image_tag 'hizliceviri-logo.png', class:'mt-40'
            .brand-info
              %h3.brand-info-title.hidden-xs.hidden-sm.hidden-md
                HIZLIÇEVİRİ
              %p.brand-dec
                130 dan fazla yeminli tercüman ekibi ile dosyalarınızı online ortamda
                tercüme eder ve anında size teslim eder.
              %small.brand-link.text-center
                Paketten Yararlanın
                %i.fa.fa-angle-double-right
            .caption.brand-cap
              %h3.brand-title
                1 ay boyunca
                %br/
                \%50 indirim
        .twitter-embed
          %blockquote.twitter-tweet{lang: 'tr'}
            %p{dir: 'ltr', lang: 'tr'}>
              Sözleşme çeviri işiniz var ve vaktiniz yoksa doğru adres
              %a{href: 'https://twitter.com/hizliceviri'} @HizliCeviri
              denedim memnun kaldım. not:bizim girişimcimiz diye demiyorum :)
            \&mdash; Murat Tortopoglu (@tortopoglu)
            %a{href: 'https://twitter.com/tortopoglu/status/507531053284990977', target:'_blank'} September 4, 2014
          %script{async: '', charset: 'utf-8', src: '//platform.twitter.com/widgets.js'}

      .col-xs-12.col-sm-4.col-lg-4
        .thumbnail
          =link_to 'https://www.bulutfon.com/?utm_source=avukatlara_ozelpaket&utm_medium=landing_page&utm_campaign=avukatlara_ozelpaket', target: '_blank', class:'text-center brand-offer' do
            =image_tag 'bulutfon-logo.png', class:'mt-20'
            .brand-info
              %h3.brand-info-title.hidden-xs.hidden-sm.hidden-md
                BULUTFON
              %p.brand-dec
                Bulutfon ile telefon santrali, faks, sms, görüşmelerin kayıt altına alınması gibi her türlü ihtiyacınızı
                29TL/ay gibi fiyatlarla karşılıyoruz.
              %small.brand-link.text-center
                Paketten Yararlanın
                %i.fa.fa-angle-double-right
            .caption.brand-cap
              %h3.brand-title
                Yeni üyelere 75TL
                %br/
                konuşma kredisi
        .twitter-embed
          %blockquote.twitter-tweet{lang: 'en'}
            %p{dir: 'ltr', lang: 'tr'}>
              Bulutfon'un mobil uygulaması harika olmuş. Elinize sağlık, teşekkürler
              %a{href: 'https://twitter.com/Bulutfon', target:'_blank'} @bulutfon
              \. TR'de güzel işler yapan Saas'ları görmek keyif verici.
            \&mdash; Berkay ÜNAL (@bunal)
            %a{href: 'https://twitter.com/bunal/status/592602113659768832'} April 27, 2015
          %script{async: '', charset: 'utf-8', src: '//platform.twitter.com/widgets.js'}
